version: '3.8'

services:
  misub:
    build:
      context: .
    image: misub:latest
    container_name: misub
    ports:
      - "8808:8787" # Host port 8808 -> Container port 8787 (miniflare)
    restart: always
    env_file:
      - .env
    volumes:
      - ./data/d1:/var/lib/d1
      - ./data/kv:/var/lib/kv
    command: >
      sh -c "npx miniflare functions/[[path]].js
      --host 0.0.0.0
      --site ./dist
      --d1 MISUB_DB --d1-persist /var/lib/d1
      --kv MISUB_KV --kv-persist /var/lib/kv"